[submodule "dependent-types"]
	path = dependent-types
	url = https://github.com/js-ee/dependent-types.git
[submodule "architecture-patterns"]
	path = architecture-patterns
	url = https://github.com/js-ee/architecture-patterns.git
